[Unit]
Description=Restart the stream for the 3D printer\'s camera.

[Timer]
OnCalendar=*-*-* 01:15:00
Persistent=true

[Install]
WantedBy=timers.target
