[Unit]
Description=Start the stream for the 3D printer\'s camera and take pics of any motion.

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/projects/stream-3d-printer-camera/stream_3dprinter_camera.py --rot 180 --no-detect --fps 15
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
